.layout {
  display: grid;

  grid-template-columns: 260px 1fr;
  grid-template-rows: 72px 1fr;

  grid-template-areas:
    "sidebar header"
    "sidebar content";

  min-height: 100vh;

  background-color: #000000;
}

/* Sidebar */

.sidebar {
  grid-area: sidebar;
  
  background: #000000;
  color: #000000;

  overflow-y: auto;
}

/* Header */

.header {
  grid-area: header;
  position:absolute;
  background:none;

  border-bottom: none;

  display: flex;
  align-items: right;
  box-sizing: content-box;
  padding: 0 2rem;

  position: sticky;
  top: 0;
  z-index: 100;
}

/* Main Content */

.content {
  grid-area: content;

  padding: 2rem;

  overflow-y: auto;
}