.item {
  display: flex;
  align-items: center;

  gap: 1rem;

  padding: 0.9rem 1rem;

  text-decoration: none;
  background-color: #212121;
  color: #FFFFFF;

  border-radius: 10px;

  transition: all 0.2s ease;
}

.item:hover {
  background: #212121;

  color: #949494;
}

.active {
  background: #515151;

  color: #f3f3f3;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
}

.label {
  font-size: 0.95rem;

  font-weight: 500;
}