.sidebar {
  display: flex;
  flex-direction: column;

  height: 100%;

  background: #000000;
}

.logo {
  display: flex;
  align-items: center;

  height: 72px;

  padding: 0 1.5rem;

  border-bottom: 1px solid #e5e7eb;
}

.logo h2 {
  font-size: 1.4rem;
  font-weight: 700;

  color: #e7e7e7;
}

.navigation {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  padding: 1rem;
}